
.header{
	overflow: hidden;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 500;
	-webkit-transition: all  ease-in-out 500ms;
    -moz-transition: all  ease-in-out 500ms;
    -o-transition: all  ease-in-out 500ms;
    transition: all  ease-in-out 500ms;
}
.header.scrolled{
	 background-color:rgba(255, 255, 255, 0.5);
}
.logo-custom{
	width: 100px;
	height: auto;
	padding-top:10px;
	-webkit-transition: all  ease-in-out 500ms;
    -moz-transition: all  ease-in-out 500ms;
    -o-transition: all  ease-in-out 500ms;
    transition: all  ease-in-out 500ms;
}
.scrolled>.logo-custom{
	width: 60px;
	height: auto;
}

